<article class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <div class="product-item-content">
        <h2><%= product.title %></h2>
        <div class="product-item-actions">
            <a class="btn btn-alt"  id="view-btn" href="/admin/products/<%= product.id%>">View &amp; Edit</a>
            <button class="btn btn-alt" id="delete-btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
        </div>
    </div>
</article>